.container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 8px;
	position: absolute;
	top: 175px;
}

.countContainer {
	background-color: var(--black);
	color: var(--white);
	width: 25px;
	height: 25px;
	text-align: center;
	padding: 4px;
	font-size: 0.75rem;
	border: 1px solid var(--white);
	border-radius: 4px;
}

.button {
	max-width: 25px;
	height: 25px;
	width: 100%;
	cursor: pointer;
	background-color: var(--black);
	color: var(--white);
	border: none;
	border-radius: 4px;
}
