.navContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white);
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: .75rem;
}
