.navContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.avatar {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: white;
}

.actionsContainer {
  display: flex;
  gap: .75rem;
}
