.viewContainer {
  display: flex;
  flex-direction: column;
  max-width: 1266px;
  width: 100%;
  margin: 30px auto;
  padding: 0 1rem;
  background-color: var(--background);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.cardList {
  display: flex;
  gap: 1rem;
}

.transferContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userName {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin: 1rem 0;
}

.amount {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--true-black);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
}

.transferInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  bottom: 12px;
  right: 12px;
}